{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey }}</div>
    {% endif %}

    <div class="d-flex">
        <div class="row col-6">
            <img src="{{ asset('build/images/login.png') }}" alt="Epices" class="img-fluid h-100">
        </div>
        <div class="row col-6 justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="w-75 my-3">
                    <h2 class="text-primary mb-1">Connexion</h2> 
                    <p>
                        <small><a href="{{ path('index_register') }}">Pas de compte ? En créer un maintenant (même pas besoin de mail !)</a></small>
                    </p> 
                </div>
                <form action="{{ path('app_login') }}" method="post" class="w-75 mb-4">
                    <div class="form-group my-2">
                        <label for="username">Pseudo :</label>
                        <input type="text" id="username" name="username" value="{{ last_username }}" class="form-control" required autofocus>
                    </div>

                    <div class="form-group my-2">
                        <label for="password">Mot de passe :</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        {# TODO => <p><small><a href="{{ path('send code to mail') }}">Mot de passe oublié ?</a></small></p> #}
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="{{ path('home') }}">

                    <div class="form-group my-2">
                        <label><input type="checkbox" name="_remember_me" checked>Se souvenir de moi</label>
                    </div>

                    <div class="d-flex justify-content-center my-4">
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
