{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="flex min-h-screen">
    <div class="w-1/2 hidden md:block">
        <img src="{{ asset('build/images/login.png') }}" alt="Epices" class="w-full h-full object-cover">
    </div>
    <div class="w-full md:w-1/2 flex justify-center items-center">
        <div class="w-full max-w-md p-8">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold text-gray-800">Connexion</h2>
                <p class="text-gray-600 mt-2">
                    <a href="{{ path('index_register') }}" class="text-blue-600 hover:underline">Pas de compte ? En créer un maintenant (même pas besoin de mail !)</a>
                </p>
            </div>

            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-4">
                    <label for="username" class="block text-gray-700">Pseudo :</label>
                    <input type="text" id="username" name="username" value="{{ last_username }}" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required autofocus>
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-gray-700">Mot de passe :</label>
                    <div class="relative">
                        <input type="password" id="password" name="password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required
                            {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {
                                visibleLabel: 'Afficher',
                                hiddenLabel: 'Masquer',
                                buttonClasses: ['absolute inset-y-0 right-0 px-3 flex items-center text-sm text-gray-600']
                        })}}>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="{{ path('home') }}">

                {% if error is not empty %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                        Identification échouée !
                    </div>
                {% endif %}

                <div class="flex justify-center mt-6">
                    <button type="submit" class="w-full px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
