{% extends 'base.html.twig' %}
{% block title %}SpiceMatch - Présentation{% endblock %}

{% block body %}
    {% set color = spice.aromaticGroups.color %}
    <div class="container-fluid">
        <h2 class="text-center">{{ spice.name }}</h2>
    </div>

    {# TODO => Implémenter l'ajout des composés secondaires et mettre en place les composés principaux #}

    <div class="container">
        <div class="col-4 article-{{ color |trim('#')|upper}}">
            <div class="border-bottom border-light border-3 mt-4">
                <h3>Groupe aromatique</h3>
                <p>{{ spice.aromaticGroups.name }}</p>
            </div>
            <div class="border-bottom border-light border-3 mt-4">
                <h3>Type d'épice</h3>
                <p>{{ spice.spicyType.name }}</p>
            </div>
            <div class="border-bottom border-light border-3 mt-4">
                <div>
                    <h3>
                        {% if spice.aromaticsCompounds.count > 1 %}
                            Composés principaux :
                        {% else %}
                            Composé principal :
                        {% endif %}
                    </h3>
                    <ul>
                        {% for aromaticCompound in spice.aromaticsCompounds %}
                            <li>{{ aromaticCompound.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>
                        {% if spice.secondaryAromaticsCompounds.count > 1 %}
                            Composés secondaires :
                        {% else %}
                            Composé secondaire :
                        {% endif %}
                    </h3>
                    <ul>
                        {% for aromaticCompound in spice.secondaryAromaticsCompounds %}
                            <li>{{ aromaticCompound.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="border-bottom border-light border-3 mt-4">
                <div>
                    <h3>Saveurs</h3>
                    <ul>
                        {% for aromaticCompound in spice.aromaticsCompounds %}
                            {% for flavor in aromaticCompound.AlchemyFlavors %}
                                <li>{{ flavor.name }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>Saveurs secondaires</h3>
                    <ul>
                        {% for aromaticCompound in spice.secondaryAromaticsCompounds %}
                            {% for flavor in aromaticCompound.AlchemyFlavors %}
                                <li>{{ flavor.name }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="article-{{ color |trim('#')|upper}} mt-4">
                <h3>Description</h3>
                <p>{{ spice.description }}</p>
            </div>

            <div class="article-{{ color |trim('#')|upper}} mt-4">
                <h3>Conseils de cuisine</h3>
                <p>{{ spice.cooking }}</p>
            </div>

            <div class="article-{{ color |trim('#')|upper}} mt-4">
                <h3>Informations supplémentaires</h3>
                <p>{{ spice.informations }}</p>
            </div>
        </div>
    </div>
{% endblock %}

