{% extends 'base.html.twig' %}
{% block title %}SpiceMatch - Présentation{% endblock %}

{% block body %}
    {% set color = spice.aromaticGroups.color %}
    <div class="container">

        {# Centré -> Nom - Groupe épice + photo #}
        <div class="row my-3">
            <div class="d-flex justify-content-between">
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center px-2">
                    <h2>{{ spice.name }}</h2>
                    <h4>{{ spice.aromaticGroups.name }}</h3>
                    <p class="text-justify">{{ spice.description }}</p>
                </div>
                <div class="col-lg-6">
                    <img class="rounded w-100 img-fluid" src="{{  vich_uploader_asset(spice, 'imageFile')}}">
                </div>
            </div>
        </div>

        <div class="row my-2">
        {# Revoir les conseils cuisine, sur qui pour ensuite faire une meilleure présentation #}
            <h3>Conseils cuisine</h3>
            <p>{{ spice.cooking }}</p>
            <p>{{ spice.informations }}</p>
        </div>
        
        {# Décalé gauche -> Composés aromatiques - Mettre une couleur en opacité légère #}
        <div class="row my-3 rounded w-100 p-0">
            <div class="card p-0 w-100 h-100 shadow border-0">
                <div class="card-header bg-primary">
                    <h3>Composés aromatiques</h3>
                </div>
                <div class="card-body bg-white">
                    <div class="card-text">
                        <div></div>{# Faire un ovale de couleur du composé principale puis secondaire #}
                        <ul class="list-group list-group-horizontal flex-wrap">
                        {# TODO => Mettre le lien pour accéder directement à la page de présentation du composé #}
                            {% for aromaticCompound in spice.aromaticsCompounds %}
                                <li class="list-group-item list-group-item-primary rounded m-1 p-1">{{ aromaticCompound.name }}</li>
                            {% endfor %}
                            {% for aromaticCompound in spice.secondaryAromaticsCompounds %}
                                <li class="list-group-item list-group-item-secondary rounded m-1 p-1">{{ aromaticCompound.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {# Décalé droite -> Saveurs - Mettre une couleur en opacité légère #}
        <div class="row my-3 rounded w-100 p-0">
            <div class="card p-0 w-100 h-100 shadow">
                <div class="card-header bg-secondary">
                    <h3>Saveurs</h3>
                </div>
                <div class="card-body bg-white">
                    <div class="card-text">
                        <div></div>{# Faire un ovale de couleur du composé principale puis secondaire #}
                        <ul class="list-group list-group-horizontal flex-wrap">
                        {# TODO => Mettre le lien pour accéder directement à la page de présentation de la saveur #}
                        {% for aromaticCompound in spice.aromaticsCompounds %}
                            {% for flavor in aromaticCompound.AlchemyFlavors %}
                                <li class="list-group-item list-group-item-primary rounded m-1 p-1">{{ flavor.name }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for aromaticCompound in spice.secondaryAromaticsCompounds %}
                            {% for flavor in aromaticCompound.AlchemyFlavors %}
                                <li class="list-group-item list-group-item-secondary rounded m-1 p-1">{{ flavor.name }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

