{% macro cardView(title, text, preparationId) %}
    <div {{ stimulus_action('click->select-preparation', 'selectPreparation') }}
        {{ stimulus_target('select-preparation', 'preparation') }}
        data-preparation-id="{{ preparationId }}"
        class="flex-1 m-2 cursor-pointer"
    >
        <div class="rounded-lg shadow-md p-4 h-full border border-gray-200 hover:border-blue-500 transition-all duration-200">
            <h4 class="text-lg font-semibold text-center mb-2">{{ title }}</h4>
            <p class="text-gray-600 text-center text-sm">{{ text|nl2br }}</p>
        </div>
    </div>
{% endmacro %}