{% macro cardView(title, text, preparationId, spiceId, preparationOrCooking) %}
    <div class="col d-flex justify-content-center align-items-stretch my-2">
        <label class="w-100" for="{{ preparationOrCooking ~ '_' ~ preparationId }}">
            <div class="rounded shadow m-2 py-3 px-2 h-100">
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h4 class="text-center">{{ title }}</h4>
                    <!--Text-->
                    <p class="text-center">{{ text|nl2br }}</p>
                </div>
            </div>
        </label>
        <input type="radio" 
            class="form-check-input mx-0 mt-2 align-self-center radio-invisible" 
            id="{{ preparationOrCooking ~ '_' ~ preparationId }}" 
            name="preparationChosen" 
            data-model="preparationChosen" 
            value="{{ preparationId }}"/>
    </div>
{% endmacro %}