{% macro cardSpiceMatch(spice, checkedOrNot) %}
    {% import "components/_macro_card_spice.html.twig" as macroCardSpice %}

    <div class="form-check d-flex flex-column justify-content-center align-items-center mb-3"
         data-spice-id="{{ spice.id }}">
        <label class="form-check-label" for="check_{{ spice.id }}">
            {{ macroCardSpice.cardSpice(spice) }}
        </label>

        <input class="form-check-input" type="checkbox" value="" id="check_{{ spice.id }}" {{ checkedOrNot }}>
    </div>
{% endmacro %}