<div
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    id="{{ target }}"
    aria-labelledby="exampleModalLabel"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <turbo-frame
               class="modal-body"
                src="{{ modalSrc }}"
                id="{{ id }}"
                loading="lazy"
            >
                {{ modalContent|default('Chargement...') }}
            </turbo-frame>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>