<nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">SpicyMatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('index_spicy_match') }}">Créer mon mélange</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Epices
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('index_aromatic_compound') }}">Par composé aromatique</a></li>
                        <li><a class="dropdown-item" href="{{ path('index_aromatic_groups') }}">Par groupe aromatique</a></li>
                        <li><a class="dropdown-item" href="{{ path('index_spicy_type') }}">Par type d'épice</a></li>
                        <li><a class="dropdown-item" href="{{ path('index_alchemy_flavors') }}">Par saveur</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('index_spices') }}">Toutes les épices</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('new_contact') }}">Contact</a>
                </li>
            </ul>

            <form class="d-flex mx-4" role="search">
                {{ component('Search') }}
            </form>

            {% if is_granted("ROLE_USER") %}
                <div class="dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{ app.user.username|capitalize }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('profile_user') }}">Profil</a>
                        <a class="dropdown-item" href="{{ path('configuration_user') }}">Configuration</a>
                        <a class="dropdown-item" href="{{ path('history_user') }}">Historique</a>
                        <a class="dropdown-item" href="{{ path('security_user') }}">Sécurité</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>
            {% else %}
                <div class="mx-2">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>