{% import "components/_macro_card_spicy_match.html.twig" as macroCardSpicyMatch %}

<div class="container-fluid px-4" {{ attributes }}>
    {% set compatibleSpices = this.results.compatibleSpices %}
    {% set selectedSpices = this.results.selectedSpices %}

    {% if selectedSpices is not empty %}
        <form class="d-flex flex-wrap justify-content-around align-items-center" data-model="spices">
            <div class="rounded shadow w-100 p-2 mb-5">
                <h2 class="text-primary p-2"><u>Choix des épices :</u></h3>
                <div class="d-flex justify-content-center align-items-center flex-wrap">
                    {% for groupName, spices in selectedSpices %}
                        <div class="row m-0">
                            <div class="my-3">
                                <h4 class="text-center text-{{ spices.0.color |trim('#')|upper}}">{{ groupName }}</h1>
                                <div class="w-100 shadow-{{ spices.0.color |trim('#')|upper}}" style="height:5px"></div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center flex-wrap">
                                {% for spice in spices %}
                                    {{ macroCardSpicyMatch.cardSpicyMatch(spice, true) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div>
                    <button class="btn btn-primary w-100 my-2" type="button" data-action="live#action" data-live-action-param="nextStep">
                        Etape suivante
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
        

    <form class="d-flex flex-wrap justify-content-around align-items-center" data-model="spices">
        {% if compatibleSpices != false %}
            {% for spice in compatibleSpices %}
                {{ macroCardSpicyMatch.cardSpicyMatch(spice, false) }}
            {% endfor %}
        {% else %}
            <div class="w-100 alert alert-danger  text-center">Aucune épice supplémentaire n'est compatible avec votre sélection.</div>
        {% endif %}
    </form>
</div>