<turbo-frame id="userMail_frame_id" class="w-full p-4 border border-t-0 border-gray-200 rounded-b-lg">

    <div>
        <twig:Button label="{{ 'ui.config.back'|trans }}" href="{{ path('configuration_user') }}" variant="back" size="sm" extra="mb-4" />

        <div class="mb-4">
            <h5 class="text-lg font-semibold mb-2">{{ 'ui.config.change_mail_form'|trans }}</h5>

            {{ form_start(form, {
                    action: path('mail_user'),
                    'attr': {'class': 'space-y-4'}
                })
            }}
                <p class="text-xs text-stone-500">{{ 'ui.form.required_legend'|trans }}</p>
                <div>
                    {{ form_label(form.mail, 'ui.config.change_mail_form'|trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.mail, {'attr': {'class': 'w-full px-4 py-2 mt-1 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600', 'placeholder': 'form.mail.placeholder'|trans}}) }}
                </div>
                <div>
                    <twig:Button label="{{ 'common.actions.save'|trans }}" variant="primary" type="submit" extra="w-full justify-center" />
                    <div class="hidden">{{ form_widget(form.Valider) }}</div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</turbo-frame>