{{ form_start(form) }}
    <p class="text-xs text-stone-500 mb-2">{{ 'ui.form.required_legend'|trans }}</p>
    {{ form_widget(form) }}
    <twig:Button label="{{ button_label|default('common.actions.save'|trans) }}" variant="primary" type="submit" />
{{ form_end(form) }}
